<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are being followed, <%= current_user.name %>!</h1>
    <p>Looks like you have exciting things going on!</p>
    <p><%= @user %> is now following you!</p>
  </body>
</html>
